header {
  z-index: 1;
  height: 670px;
  width: 100%;
  background-color: rgba(83, 182, 83, 0.5);
  background-image: '../images/clean-gray-paper.png';
  background-repeat: repeat;
  padding-top: 10%;
}

.avatar {
  display: flex;
  justify-content: center;
  padding-top: 5%;
}

.avatar-name {
  display: flex;
  justify-content: center;
}