main{
  display: flex;
  justify-content: center;
}

hr{
  height: 3px;
  background-color: rgb(54, 54, 54);
}

textarea {
  outline: none;
  background: transparent;
  outline: none;
  border:none;
  font-weight: 600;
  width: 100%;
  margin-top: 35px;
}

.below {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  font-family: 'Bungee';
  align-items: center;
}

.new-tweet {
  width: 90%;
}

button{
  background-color: #4156A2;
  color: white;
  height: 45px;
}

button:hover{
  background-color: #fdfdfd;
  color: #4056a1;
  cursor: pointer;
 }


.disabled{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
 }